html {
	
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
a {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
em {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
caption {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ul li {
	list-style-type: none;
}
ol li {
	list-style-type: none;
}
a:link {
	color: rgb(0, 0, 0); text-decoration: none;
}
a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
a:hover {
	color: rgb(190, 4, 4); text-decoration: none;
}
h1 {
	font-size: 12px;
}
h2 {
	font-size: 12px;
}
h3 {
	font-size: 12px;
}
h4 {
	font-size: 12px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 12px;
}
body {
	background: url("970.jpg") repeat-x top rgb(30, 16, 27); text-align: center; color: rgb(0, 0, 0); line-height: 18px; font-family: "宋体"; font-size: 14px; -ms-zoom: 1;
}
img {
	border: currentColor; border-image: none;
}
div#container {
	margin: 0px auto; width: 960px; text-align: left; position: relative;
}
.clearboth {
	height: 0px; line-height: 0px; overflow: hidden; clear: both; font-size: 0px;
}
div#skip {
	height: 0px; line-height: 0px; font-size: 0px;
}
#main {
	background-color: rgb(255, 255, 255);
}
#content {
	border-width: 1px; border-style: solid; border-color: rgb(201, 23, 18) rgb(211, 211, 211) rgb(211, 211, 211); border-image: none;
}
#content h2 {
	color:#900; line-height:55px; text-align:center; font-size: 16px; font-weight: bold; margin-bottom: 30px; background:#fff; letter-spacing:2px;
}
.formdiv1 {
	border: 1px solid rgb(217, 217, 217); border-image: none; border-collapse: collapse;
}
.formdiv {
	margin:30px; padding:0; overflow: hidden;
}
.formdiv table {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(217, 217, 217) rgb(217, 217, 217) currentColor; border-image: none; border-collapse: collapse;
}
.formdiv tr {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(217, 217, 217) rgb(217, 217, 217) currentColor; border-image: none; border-collapse: collapse;
}
.formdiv td {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(217, 217, 217) rgb(217, 217, 217) currentColor; border-image: none; border-collapse: collapse;
}
.formdiv th {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(217, 217, 217) rgb(217, 217, 217) currentColor; border-image: none; border-collapse: collapse;
}
.formdiv table {clear: both;
}
table.finktable {
	border: 1px solid rgb(217, 217, 217); border-image: none;
}
.formdiv table th {
	padding: 10px; color: rgb(110, 31, 0); font-weight: normal;
}
.formdiv table td {
	padding: 10px;
}
.formdiv table th.h2th {
	padding: 10px; width: 19px; color:#fff; font-size: 14px; font-weight: bold; background:#900;
}
#main table#qyzpxx {
	margin-top: 20px;
}
#main table#qyzpxx td {
	width: 150px; text-align: center;
}
#main table#qyzpxx th {
	padding: 10px; width: 150px; text-align: center;
}
#jbqk td {
	width: 255px;
}
#changeform {
	margin: 10px auto; display: block;
}
ul#list1 {
	float: left;
}
ul#list1 li {
	padding: 10px; color: rgb(135, 135, 135); float: left;
}
ul#list1 li.liH1 {
	color: rgb(189, 4, 3); font-size: 14px; font-weight: bold;
}
#main table th.th1 {
	padding: 10px; width: 600px; text-align: left; color: rgb(109, 31, 0); font-weight: bold;
}
#main table#grzpjl {
	margin-top: 20px;
}
#main table#grzpjl td {
	width: 150px; text-align: center;
}
#main table#grzpjl th {
	padding: 10px; width: 150px; text-align: center; background-color: rgb(242, 238, 220);
}
#main table#grzpjl th.th1 {
	padding: 10px; width: 600px; text-align: left; color: rgb(109, 31, 0); font-weight: bold; background-color: rgb(238, 238, 238);
}
#main table#grzpjl a {
	color: rgb(0, 0, 255);
}
.table1 {
	margin-top: 20px;
}
.table1 input.inpt {
	border: 1px solid rgb(178, 141, 126); border-image: none; width: 136px;
}
.table1 select {
	border: 1px solid rgb(178, 141, 126); border-image: none; width: 136px;
}
.table1 th {
	width: 100px; text-align: right;
}
.table1 textarea {
	border: 1px solid rgb(178, 141, 126); border-image: none;
}
#login_zc {
	margin: 30px 71px;
}
#login_zc #form_div {
	background: url("/clrcw/image/bg_bg_zhuce.jpg"); border: 1px solid rgb(203, 106, 106); border-image: none; width: 695px; height: 84px; float: left;
}
#login_zc ul {
	background-position: right; width: 274px; padding-right: 33px; float: left; background-image: url("/clrcw/image/table_bg.jpg"); background-repeat: no-repeat;
}
#login_zc li {
	width: 274px; text-align: center; color: rgb(201, 23, 18); line-height: 41px; font-size: 16px;
}
#login_zc li a {
	color: rgb(201, 23, 18);
}
#login_zc li.change2 {
	border-top-color: rgb(203, 106, 106); border-right-color: rgb(203, 106, 106); border-top-width: 1px; border-right-width: 1px; border-top-style: solid; border-right-style: solid; background-image: url("/clrcw/image/hy_back.jpg");
}
#login_zc table {
	width: 270px; margin-top: 16px; margin-left: 30px; float: left;
}
#login_zc table td label {
	width: 298px; padding-right: 10px;
}
p.p_text {
	text-align: right; margin-top: 20px;
}
p.p_text input {
	margin-right: 10px;
}
p.p_text a {
	color: rgb(201, 23, 18);
}
#form_1 {
	margin-top: 5px;
}
#form_1 th {
	width: auto;
}
#form_1 th.h2th {
	padding: 10px; width: 19px; color:#fff; font-size: 14px; font-weight: bold;
}
#main .black{color:#000; background:#f3f3f3;}
#main .black1{ background:#f3f3f3;}
a.btn1 {/*管理按钮*/
	padding:2px 16px;
	background:#900;
	color:#fff;
	border:1px solid #900;
	margin:0 0 0 5px;
}
a.btn1:hover{background:#fff; color:#900; text-decoration:none;}