html {
	height: 100%;
}
* {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
tr {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
a {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
em {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
caption {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ul li {
	list-style-type: none;
}
ol li {
	list-style-type: none;
}
a:link {
	color: rgb(0, 0, 0); text-decoration: none;
}
a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
a:hover {
	color: rgb(190, 4, 4); text-decoration: none;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 14px;
}
body {
	background: url("../images/top_bg.jpg") repeat-x top rgb(30, 16, 27); text-align: center; color: rgb(0, 0, 0); line-height: 18px; font-family: "ו";
}
img {
	border: currentColor; border-image: none;
}

.clearboth {
	height: 0px; line-height: 0px; overflow: hidden; clear: both; font-size: 0px;
}
div#skip {
	height: 0px; line-height: 0px; font-size: 0px;
}
.wlBj_on {
	background: url("../images/top_bg.jpg") repeat-x 0px top rgb(30, 16, 27);
}
.wlBj_off {
	background: url("../images/top_bg.jpg") repeat-x 0px top rgb(30, 16, 27);
}
i {
	font-style: normal;
}
