@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
div, table, th, td, tr, a, em, span, h1, h2, h3, h4, h5, h6, ul, li, ol, form, caption, img, p {
	margin:0;
	padding:0;
	border:0;
}
ul li, ol li {
	list-style-type:none;
}
a:link {
	color:#000;
	text-decoration:none;
}
a:visited {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#be0404;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	font-size:12px;
}
body {
	font-family:"宋体";
	font-size:12px;
	line-height:18px;
	color:#000;
	text-align:center;
	zoom:1;
	overflow:visible;
}
img {
	border:none;
}
/*清除浮动*/
.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.fl{ float:left;}
.fr{ float:right;}

/************求职 招聘 选项卡 *********/
.qz_tab{
	position:relative;
	width: 295px;
	margin-right: 4px;
}
.qz_tab .qz_title{
	position: absolute;
	width:102px;
	top: 0px;
	left: 0px;
	border: #CECECE 1px solid;
	border-bottom: #FFF 1px solid;
	text-align: center;
	height: 22px;
	z-index: 1;
}
.qz_tab .qz_title a{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
.qz_tab .qz_txt{
	position: absolute;
	top: 23px;
	left: 0px;
	border: #CECECE 1px solid;
	width: 297px;
	font-size: 14px;
	line-height: 24px;
	height: 111px;
	text-align: center;
}
.qz_tab .qz_txt th{
	border-bottom: #CCC 1px solid;
	font-weight: normal;
	color: red;
}
.qz_tab .zp_title{
	position: absolute;
	width:100px;
	top: 0px;
	left: 107px;
	border: #CECECE 1px solid;
	text-align: center;
	height: 22px;
	background-image: url("../images/tab_bg.jpg");
}
.qz_tab  .zp_title a{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
.qz_tab .zp_txt{
	display:none;
}
.qz_tab .zp_txt th{
  border-bottom: #CCC 1px solid;
    font-weight: normal;
	color: red;
}
/**招聘**/
.zp_tab{
	position:relative;
	width: 295px;
	margin-right: 4px;
}
.zp_tab .zp_title{
	position: absolute;
	width:100px;
	top: 0px;
	left: 107px;
	border: #CECECE 1px solid;
	border-bottom: #FFF 1px solid;
	text-align: center;
	height: 22px;
	border-bottom: #FFF 1px solid;
	z-index:1;
}
.zp_tab .qz_title{
	position: absolute;
	width:102px;
	top: 0px;
	left: 0px;
	border: #CECECE 1px solid;
	text-align: center;
	height: 22px;
	z-index: 1;
	background-image: url("../images/tab_bg.jpg");
}
.zp_tab .zp_title a{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
.zp_tab .qz_title a{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
.zp_tab .zp_txt{
  position: absolute;
  top: 23px;
  left: 0px;
  border: #CECECE 1px solid;
  width: 297px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  height: 111px;
}
.zp_tab .zp_txt th{
  border-bottom: #CCC 1px solid;
    font-weight: normal;
	color: red;
}
.zp_tab .qz_txt{
	display:none;
}