body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1010px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:85px;
  width:1000px;
  height:660px;
  color:#333333;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:221px;
  width:1000px;
  height:400px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:401px;
}
#u3 {
  position:absolute;
  left:2px;
  top:192px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:5px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:6px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-6px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:80px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:81px;
}
#u8 {
  position:absolute;
  left:2px;
  top:32px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:87px;
  top:20px;
  width:449px;
  height:31px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:32px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:15px;
  top:15px;
  width:62px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:87px;
  top:49px;
  width:387px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:25px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:947px;
  top:30px;
  width:30px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:824px;
  top:37px;
  width:113px;
  height:24px;
  font-size:16px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:569px;
  top:191px;
  width:319px;
  height:187px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:187px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:186px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:187px;
}
#u21 {
  position:absolute;
  left:2px;
  top:85px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:26px;
  top:30px;
  width:84px;
  height:28px;
  font-family:'FangSong';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:26px;
  top:83px;
  width:84px;
  height:28px;
  font-family:'FangSong';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:111px;
  top:28px;
  width:180px;
  height:30px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26_input {
  font-family:'Microsoft YaHei';
}
#u27 {
  position:absolute;
  left:111px;
  top:79px;
  width:180px;
  height:30px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27_input {
  font-family:'Microsoft YaHei';
}
#u28 {
  position:absolute;
  left:26px;
  top:130px;
  width:265px;
  height:38px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:39px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u19_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:187px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:186px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:187px;
}
#u31 {
  position:absolute;
  left:2px;
  top:85px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:26px;
  top:30px;
  width:84px;
  height:28px;
  font-family:'FangSong';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:26px;
  top:83px;
  width:84px;
  height:28px;
  font-family:'FangSong';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:111px;
  top:79px;
  width:180px;
  height:30px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36_input {
  font-family:'Microsoft YaHei';
}
#u37 {
  position:absolute;
  left:111px;
  top:30px;
  width:180px;
  height:30px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37_input {
  font-family:'Microsoft YaHei';
}
#u37_input:disabled {
  color:grayText;
}
#u38 {
  position:absolute;
  left:26px;
  top:132px;
  width:265px;
  height:38px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:39px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:577px;
  top:148px;
  width:303px;
  height:3px;
  font-family:'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:4px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-6px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:71px;
  top:202px;
  width:357px;
  height:135px;
  opacity:0.300000011920929;
  font-family:'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:136px;
}
#u43 {
  position:absolute;
  left:2px;
  top:117px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:63px;
  top:191px;
  width:357px;
  height:135px;
  opacity:0.800000011920929;
  font-family:'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:136px;
}
#u45 {
  position:absolute;
  left:2px;
  top:91px;
  width:353px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:115px;
  top:202px;
  width:284px;
  height:56px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:57px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:198px;
  top:278px;
  width:97px;
  height:30px;
  font-family:'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC3333;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:485px;
  width:1000px;
  height:260px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:261px;
}
#u51 {
  position:absolute;
  left:2px;
  top:122px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:387px;
  top:502px;
  width:200px;
  height:34px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-1px;
  width:196px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:95px;
  top:590px;
  width:750px;
  height:130px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:131px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:393px;
  top:1064px;
  width:213px;
  height:24px;
  font-size:14px;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:145px;
  top:1092px;
  width:710px;
  height:48px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:49px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:745px;
  width:1000px;
  height:289px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:290px;
}
#u61 {
  position:absolute;
  left:2px;
  top:136px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:421px;
  top:537px;
  width:125px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CC3333;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:387px;
  top:485px;
  width:200px;
  height:3px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:4px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:387px;
  top:762px;
  width:200px;
  height:34px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-1px;
  width:196px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:391px;
  top:797px;
  width:191px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CC3333;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:387px;
  top:745px;
  width:200px;
  height:3px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:4px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:97px;
  top:930px;
  width:776px;
  height:24px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:25px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:699px;
  top:954px;
  width:97px;
  height:24px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:127px;
  top:870px;
  width:711px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:702px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:4px;
  width:711px;
  height:2px;
}
#u77 {
  position:absolute;
  left:89px;
  top:839px;
  width:72px;
  height:72px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#339900;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u78 {
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:191px;
  top:839px;
  width:72px;
  height:72px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#339900;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u80 {
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:293px;
  top:839px;
  width:72px;
  height:72px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#339900;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u82 {
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:395px;
  top:839px;
  width:72px;
  height:72px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#339900;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u84 {
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:496px;
  top:839px;
  width:72px;
  height:72px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#339900;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u86 {
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:598px;
  top:839px;
  width:72px;
  height:72px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#339900;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u88 {
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:700px;
  top:839px;
  width:72px;
  height:72px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#339900;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u90 {
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:802px;
  top:839px;
  width:72px;
  height:72px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#339900;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u92 {
  position:absolute;
  left:2px;
  top:24px;
  width:68px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:975px;
  top:214px;
  width:10px;
  height:10px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u94 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:975px;
  top:232px;
  width:10px;
  height:10px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u96 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:975px;
  top:251px;
  width:10px;
  height:10px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:568px;
  top:149px;
}
#u99_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u99_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:42px;
}
#u100_img.selected {
}
#u100.selected {
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:41px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:42px;
}
#u102_img.selected {
}
#u102.selected {
}
#u102_img.mouseDown {
}
#u102.mouseDown {
}
#u103 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u99_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u99_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:42px;
}
#u104_img.selected {
}
#u104.selected {
}
#u105 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:41px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:42px;
}
#u106_img.selected {
}
#u106.selected {
}
#u106_img.mouseDown {
}
#u106.mouseDown {
}
#u107 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
