body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-14px;
  width:776px;
  height:664px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:665px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:772px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:8px;
  top:11px;
  width:18px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:31px;
  top:8px;
  width:209px;
  height:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:29px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:19px;
  top:288px;
  width:265px;
  height:35px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:19px;
  top:120px;
  width:738px;
  height:155px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:44px;
  top:0px;
  width:166px;
  height:40px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:210px;
  top:0px;
  width:68px;
  height:40px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:41px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:64px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:278px;
  top:0px;
  width:160px;
  height:40px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:438px;
  top:0px;
  width:94px;
  height:40px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:41px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:532px;
  top:0px;
  width:81px;
  height:40px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:613px;
  top:0px;
  width:120px;
  height:40px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:40px;
  width:44px;
  height:55px;
  font-size:12px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:44px;
  top:40px;
  width:166px;
  height:55px;
  font-size:12px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:56px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:162px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:210px;
  top:40px;
  width:68px;
  height:55px;
  font-size:12px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:56px;
}
#u30 {
  position:absolute;
  left:2px;
  top:20px;
  width:64px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:278px;
  top:40px;
  width:160px;
  height:55px;
  font-size:12px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:56px;
}
#u32 {
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:438px;
  top:40px;
  width:94px;
  height:55px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:56px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:532px;
  top:40px;
  width:81px;
  height:55px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:56px;
}
#u36 {
  position:absolute;
  left:2px;
  top:20px;
  width:77px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:613px;
  top:40px;
  width:120px;
  height:55px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:56px;
}
#u38 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:95px;
  width:44px;
  height:55px;
  font-size:12px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u40 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:44px;
  top:95px;
  width:166px;
  height:55px;
  font-size:12px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:56px;
}
#u42 {
  position:absolute;
  left:2px;
  top:20px;
  width:162px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:210px;
  top:95px;
  width:68px;
  height:55px;
  font-size:12px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:56px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:64px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:278px;
  top:95px;
  width:160px;
  height:55px;
  font-size:12px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:56px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:438px;
  top:95px;
  width:94px;
  height:55px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:56px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:532px;
  top:95px;
  width:81px;
  height:55px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:56px;
}
#u50 {
  position:absolute;
  left:2px;
  top:20px;
  width:77px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:613px;
  top:95px;
  width:120px;
  height:55px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:56px;
}
#u52 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:648px;
  top:178px;
  width:35px;
  height:28px;
  color:#CC3333;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:649px;
  top:232px;
  width:35px;
  height:28px;
  color:#CC3333;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:43px;
  width:762px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:51px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:28px;
  top:46px;
  width:180px;
  height:40px;
  font-family:'SimHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CC3333;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:441px;
  top:51px;
  width:315px;
  height:34px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61_input {
  font-family:'Microsoft YaHei';
}
#u62 {
  position:absolute;
  left:721px;
  top:52px;
  width:33px;
  height:33px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:11px;
  top:61px;
  width:5px;
  height:15px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u65 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:19px;
  top:114px;
  width:733px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:724px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:4px;
  width:733px;
  height:2px;
}
#u67 {
  position:absolute;
  left:698px;
  top:178px;
  width:35px;
  height:28px;
  color:#CC3333;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:699px;
  top:232px;
  width:35px;
  height:28px;
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
