@charset "gb2312";

#footer{
	width:732px;
	background:url(/clrcw/images/footer_01.jpg) repeat-x;
	height:87px;
	float:left;
	text-align:center;
	padding-left:228px;
	padding-top:22px;
}
#footer .foot{
	width:480px;
	background:url(/clrcw/images/footer_02.jpg) no-repeat left;
	text-align:center;
	margin:0px auto;
	padding-left:65px;
	float:left;
	color:#888686;
	line-height:20px;
}
#footer .foot ul{
	width:320px;
	float:left
}
#footer .foot ul li{
	background:url(/clrcw/images/shu.jpg) right no-repeat;
	padding-right:16px;
	float:left;
	padding-left:16px;
}
#footer .foot ul li a{color:#888686;}
#footer .foot ul li.wu{background:none}

#footer .foot span{
	padding-left:16px;
	width:545px;
	float:left;
	text-align:left
}