@charset "gb2312";

#header{
	width:960px;
	padding-top:6px;
	float:left;
}
#header .span{
	float:left;
	width:560px;
	text-align:left;
	padding-left:12px;
}
#header .top{
	width:380px;
	float:right;
	line-height:21px;
	color:#393939;
}
#header .top .gjt{
	background:url(../images/top_01.jpg) no-repeat;
	width:100px;
	float:left;
	padding-left:18px;
	padding-right:6px;
}
#header .top .sm{
	background:url(../images/top_02.jpg) no-repeat;
	width:68px;
	float:left;
	padding-left:18px;
	padding-right:6px;
}
#header .top .dt{
	background:url(../images/top_03.jpg) no-repeat;
	width:55px;
	float:left;
	padding-left:18px;
	padding-right:6px;
}

#header .banner{
	width:960px;
}
#header #dh{
	background:url(../images/dh_bg.jpg) repeat-x;
	width:960px;
	float:left;
	height:47px;
}
#header #dh .home{
	width:90px;
	float:left;
}
#header #dh .lm{
	width:46px;
	float:left
}

#header #dh ul.xbt{
	float:left;
	line-height:18px;
	width:266px;
	padding-top:6px;
}
#header #dh ul.xbt1{
	width:200px;
}
#header #dh ul.xbt li{
	width:50px;
	float:left;
	padding-left:12px;
	padding-right:4px;
}

#header #dh ul.xbt li a{color:#FFF}

#header #yhdl1{
	width:960px;
	float:left;
	background:url(../images/yh_01.jpg) repeat-x;
	height:25px;
	padding-top:4px;
	color:#6e1f00
}
#header #yhdl1 #dl{
	width:670px;
	float:left;
}
#header #yhdl1 #dl label{
	padding-left:12px;
}
#header #yhdl1 #dl .yhm{
	width:97px;
	height:18px;
	line-height:18px;
	border:#8b6d63 solid 1px;
	color:#999;
	padding-left:3px;
}

#header #yhdl1 #dl .dl{
	width:51px;
	text-align:center;
	line-height:19px;
	height:19px;
	border:none;
	background:url(../images/yh_02.jpg) no-repeat;
	color:#6e1f00;
	margin-left:5px;
	display:inline;
}
#header #yhdl1 #dl span{
	width:120px;
	padding-left:5px;
}
	
#header #yhdl1 #dl span a{
	color:#6e1f00;
	text-decoration:underline;
	padding-right:5px;
	padding-left:5px;
}
#header #yhdl1 #search{
	width:260px;
	float:right;
	padding-right:10px;
}
#header #yhdl1 #search .nr{
	width:125px;
	border:#8b6d63 solid 1px;
	color:#999;
	height:18px;
	line-height:18px;
	padding-left:3px;
}

#header #yhdl1 #search .ss{
	width:51px;
	text-align:center;
	line-height:19px;
	height:19px;
	border:none;
	background:url(../images/yh_02.jpg) no-repeat;
	color:#6e1f00;
	margin-left:5px;
	display:inline;
}