/* 
内容:公共样式
作者: lqx66
创建时间:2011.10.19
 */
/* 面包屑公共样式 */
#breadcrumbnav{width:auto; float:left; padding-left:16px; border:1px solid #D3D3D3; display:inline; background:url(/clrcm/images/wzlbbg1.jpg) repeat-x left top;}
#breadcrumbnav #nowplace{ float:left;  display:block; color:#BE0403; padding:3px 0 0 15px; line-height:26px; background:url(/clrcm/images/wzlbbg3.jpg) no-repeat left top;}
#breadcrumbnav ol{ float:left; overflow:hidden; }
#breadcrumbnav ol li{ float:left; padding:3px 16px 0px 16px; margin-left:-10px; line-height:26px; background:url(/clrcm/images/wzlbbg2.jpg) no-repeat left top;}

/* 列表页左侧公共样式 */
#leftsidebar{width:248px; float:left; display:inline; background:url(/clrcm/images/wzlbbg4.jpg) repeat-y left top; height:auto;}
#leftsidebar h3{width:229px; font-size:14px; background:red url(/clrcm/images/wzlbbg5.jpg) no-repeat left top; padding:8px 0 5px 19px; margin-bottom:6px;}
#leftsidebar h3 a:link{ color:#ffffff; text-decoration:none;}
#leftsidebar h3 a:visited{color:#ffffff; text-decoration:none;}
#leftsidebar h3 a:hover{color:#ffffff; text-decoration:underline;}
div#leftsidebar h4{
    background:url(/clrcm/images/wzlbtitle2.jpg) 0 0 no-repeat;
    padding:10px 0px 14px 46px;
	font-weight:normal;
	font-size:14px;
}
div#leftsidebar h4 a:link{color:#393939;text-decoration:none;}
div#leftsidebar h4 a:visited{color:#393939;text-decoration:none;}
div#leftsidebar h4 a:hover{color:#393939;text-decoration:none;}
div#leftsidebar ul{display:none;}
div#leftsidebar h4.lefttitleopen{background:url(/clrcm/images/wzlbtitle3.jpg) 0 0 no-repeat;}
div#leftsidebar h4.lefttitleopen a:link{color:#9E101C;text-decoration:none;}
div#leftsidebar h4.lefttitleopen a:visited{color:#9E101C;text-decoration:none;}
div#leftsidebar h4.lefttitleopen a:hover{color:#9E101C;text-decoration:none;}
div#leftsidebar ul.leftlistopen{display:block;}
div#leftsidebar ul {width:208px; line-height:24px; padding:8px 0 20px 40px; background:url(/clrcmimages/wzlbbg8.jpg) repeat-y left top;}
div#leftsidebar ul li{width:208px; line-height:24px;}
div#leftsidebar ul li a{ display:block; background:url(/clrcm/images/wzlblibg.jpg) no-repeat left center;   padding:2px 0 1px 28px;}
div#leftsidebar ul li a:hover{background:url(/clrcm/images/wzlblibg2.jpg) no-repeat left center;}
/* 栏目列表标题公共样式 */
h3.lmlbtitle{background:red url(/clrcm/images/wzlbtitle1.jpg) no-repeat left top; padding:7px 0 5px 21px; font-size:14px; color:#BD0401;}
h3.lmlbtitle a:link{color:#BE0403; text-decoration:none;}
h3.lmlbtitle a:visited{color:#BE0403; text-decoration:none;}
h3.lmlbtitle a:hover{color:#BE0403; text-decoration:underline;}

#changepage{font-size:14px;}
#changepage li{ padding:0 4px 0 10px; color:#3E3E3E; display:inline; background:url(/clrcm/images/wzlbbg7.jpg) no-repeat left center;}
#changepage li input{width:38px; border:1px #83A0BB solid; height:21px; line-height:22px; color:#3E3E3E; font-size:12px; vertical-align:middle;}
#changepage li span{ padding-right:10px;}
#changepage li label{ display:none;}
#changepage li.firstli{ background:none;}