/* 
内容:器具展示列表模板样式
作者: lqx66
创建时间:2011.10.19
 */
div#main{width:951px; padding:7px 0 6px 9px;}
#leftsidebar{ min-height:756px;}
#content{width:686px; float:left; display:inline; margin-left:9px;}
#content #breadcrumbnav{width:668px;}
#content #qjzsbox{width:684px; float:left; border:1px #d3d3d3 solid; border-top:1px solid #C71A20; margin-top:5px; padding-bottom:40px;}
#content #qjzsbox .lmlbtitle{ margin-bottom:6px;}

#qjzsbox ul.qjzslist{ width:630px; overflow:hidden; padding-left:25px; float:left; display:inline;}
#qjzsbox ul.qjzslist li{ width:640px; float:left; padding:20px 0 20px 0; display:inline; background:url(../images/wzlbbg6.jpg) repeat-x left bottom;}
#qjzsbox dl{width:104px; float:left; display:inline; margin-right:10px; background:red url(../images/fzqjbg2.jpg) no-repeat left top; padding:10px 7px 0 7px;}
#qjzsbox dl dt{width:100px; font-size:0; line-height:0; border:1px solid #cccccc; }
#qjzsbox dl dt img{width:100px; height:107px; display:block;}
#qjzsbox dl dd{ width:104px; text-align:center; padding:8px 0 13px 0;}

#content #qjzsbox #changepage{width:604px; padding-left:80px; float:left;  margin-top:25px; }