/* 
内容:全文检索样式
作者: lqx66
创建时间:2011.10.20
 */
div#main{width:952px; padding:8px 0 6px 8px;}
div#content{width:941px; border:1px solid #D8D8D8; border-top:1px solid #C01E1C; float:left; padding-bottom:34px; display:inline; background:url(../images/wznrbg1.jpg) repeat-x left top;}
div#content h3{ color:#B61010; padding:8px 0 8px 20px; font-size:14px; line-height:18px; background:url(../images/znsstitle.jpg) no-repeat left top;}
#searchform{ width:718px; margin:24px 81px 0 81px; font-size:14px; float:left; display:inline; background:#EEEEEE; padding:28px 0 30px 60px;}
#searchform ul{ float:left; padding-bottom:8px;}
#searchform ul li{ float:left; width:656px;  padding-top:10px; height:22px; overflow:hidden;}
#searchform label{ float:left; display:block; height:20px; line-height:20px; padding-top:2px; margin-right:12px;}
#searchform input{ float:left; line-height:20px; height:20px; border:1px solid #876E71;}
#searchform select{ float:left; line-height:22px; height:22px; border:1px solid #876E71;}
#searchform a{ display:block; font-size:12px; width:51px; float:right; text-align:center; background:url(../images/zcfgbg1.jpg) no-repeat left top;  height:21px; line-height:22px;}
#searchform ul li.leftli{width:362px;}
#searchform ul li.leftli label,#searchform ul li.rightli label{ margin-right:0;}
#searchform ul li.leftli select,#searchform ul li.rightli select{ margin-right:4px;}
#searchform ul li.leftli span,#searchform ul li.rightli span{ float:left; display:block; width:auto;}
#searchform ul li.leftli span.wid80,#searchform ul li.rightli span.wid80{width:80px;}
#searchform ul li.leftli span.wid60,#searchform ul li.rightli span.wid60{width:60px;}
#searchform ul li.leftli span label,#searchform ul li.leftli span select{ float:right;}
#searchform ul li.rightli{width:236px; padding-left:38px;}
#searchform ul li.rightli span label,#searchform ul li.rightli span select{ float:right;}
#ftitle,#maintxt{width:514px;}
#comefrom{width:516px;}
#cxjgbox{width:778px; margin:6px 81px 0 81px; float:left; display:inline; line-height:28px; background:#eeeeee; border-top:1px solid #aaaaaa; border-bottom:1px solid #aaaaaa;}
#cxjgbox h4{color:#BE0403; font-size:14px; float:left; padding-left:10px; }
#cxjgbox p{ float:right; color:#454545; padding-right:19px;}
#cxjgbox p span{ padding:0 7px; color:#E30808;}
div#content p.tjshow{ padding:13px 0 0 96px; clear:both;}

div.ssjglist{width:778px; margin:6px 81px 0 81px; float:left; display:inline; background:url(../images/zyzzbg4.jpg) repeat-x left bottom; padding:8px 0 8px 4px;}
div.ssjglist h5{width:774px; float:left; display:inline; font-size:14px; font-weight:normal;  padding-left:4px; line-height:24px;}
div.ssjglist h5 a{ display:block; float:left; background:url(../images/libg1.jpg) no-repeat left center; padding:2px 0 1px 14px;}
div.ssjglist h5 span{ float:right; padding-right:16px;}
div.ssjglist h5 a span{ color:#F70800; float:none; padding:0;}
div.ssjglist p{ line-height:20px; text-indent:24px; margin-left:18px; margin-right:10px;}
div.ssjglist p span{color:#F70800;}
div.ssjglist p a{ display:block; text-indent:0;}
div.ssjglist p a:link{color:#007618; text-decoration:none;}
div.ssjglist p a:visited{color:#007618; text-decoration:none;}
div.ssjglist p a:hover{color:#007618; text-decoration:underline;}

#changepage{font-size:14px; width:604px; padding-left:191px; float:left;  margin-top:30px;}
#changepage li{ padding:0 4px 0 10px; color:#3E3E3E; display:inline; background:url(../images/qwjsbg.jpg) no-repeat left center;}
#changepage li input{width:38px; border:1px #83A0BB solid; height:21px; line-height:22px; color:#3E3E3E; font-size:12px; vertical-align:middle;}
#changepage li span{ padding-right:10px;}
#changepage li label{ display:none;}
#changepage li.firstli{ background:none;}