/* 
内容:求职，招聘样式
作者: lqx66
创建时间:2011.10.21
 */
div#main{width:951px; padding:7px 0 6px 9px;}
#leftsidebar{ min-height:860px;}
#content{width:686px; float:left; display:inline; margin-left:9px;}
#content #breadcrumbnav{width:669px;}

#content #lmbox{width:684px; float:left; border:1px #d3d3d3 solid; border-top:1px solid #C71A20; margin-top:5px; padding-bottom:40px;}
#searchjob{ width:616px;  float:left; display:inline; background:#EEEEEE; padding:8px 0; margin:22px 34px 0 34px;}
#searchjob ul{width:614px; float:left; padding:0 2px 0 2px;}
#searchjob ul li{ float:left; width:264px; float:left; display:inline;   padding-top:10px; height:22px; overflow:hidden; padding-left:30px;}
#searchjob ul li.longit{width:568px; padding:8px 46px 0 0;}
#searchjob label{width:60px; text-align:right; float:left; display:block; height:20px; line-height:20px; padding-top:2px; margin-right:4px;}
#searchjob input{ width:195px; float:left; line-height:20px; height:20px; border:1px solid #876E71;}
#searchjob select{width:197px; float:left; line-height:22px; height:22px; border:1px solid #876E71;}
#searchjob a{ display:block; font-size:12px; width:51px; float:right; text-align:center; background:url(/clrcm/images/zcfgbg1.jpg) no-repeat left top;  height:21px; line-height:22px;}
#content #lmbox ul#swshow{width:616px;  float:left; display:inline; background:#EEEEEE; padding:8px 0; margin:22px 34px 0 34px; padding:6px 0 2px 0; border-top:1px solid #BBB8B8; border-bottom:1px solid #BBB8B8 ; font-weight:bold; font-size:14px;}
#content #lmbox ul#swshow li{ float:left; width:94px; padding-left:6px;}
#content #lmbox ul#swshow li.addwidth{width:180px; padding-left:36px;}
#content #lmbox ul.lmlblist{width:616px; padding:28px 34px 2px 34px; font-size:14px; line-height:26px; float:left;}
#content #lmbox ul.lmlblist li{width:612px; float:left; border-bottom:1px solid #BBB8B8;}
#content #lmbox ul.lmlblist li a{ float:left; display:block; padding:2px 0 1px 17px; background:url(/clrcm/images/li_bg.gif) no-repeat left center;}
#content #lmbox ul.lmlblist li a span{ float:none; padding-right:0; width:208px; display:block; float:left;}
#content #lmbox ul.lmlblist li span{ float:right; padding-right:22px;}
#content #lmbox #changepage{width:604px; padding-left:80px; float:left;  margin-top:30px;}
