/* 
内容:热点问答样式
作者: lqx66
创建时间:2011.10.24
 */
div#main{width:952px; padding:11px 0 6px 8px;}

div#content{width:942px; border:1px solid #D8D8D8; float:left; display:inline; padding-top:2px; }
#rdwdbox{width:942px; float:left; display:inline; background:url(../images/wznrbg1.jpg) repeat-x left top; padding-bottom:58px;}
#rdwdbox h3{width:698px; color:#9A2726; font-size:16px; line-height:24px; margin-left:137px; padding:30px 0 10px 2px;}
#rdwdbox h4{width:680px; background:url(../images/rdwdbg1.jpg) repeat-x left top;  font-size:14px; line-height:34px; margin-left:137px; padding-left:18px; }
#rdwdbox ul{width:706px; float:left; color:#A9A9A9; padding:10px 0 0 0; display:inline; margin-left:137px;}
#rdwdbox ul li{ width:706px; float:left; padding:11px 0;}
#rdwdbox ul li label{width:156px; color:#4B4B4B; font-size:14px; float:left; text-align:right; display:block; line-height:22px; height:22px; margin-right:26px;}
#rdwdbox ul li input{width:255px; color:#4B4B4B; float:left; display:block; height:20px; line-height:20px; border:1px solid #A9A9A9;}
#rdwdbox ul li textarea{width:429px; float:left; display:block; height:135px; line-height:18px; border:1px solid #A9A9A9;}
#rdwdbox ul li span{ width:492px; display:block; float:left; padding:9px 0 0 188px;}
#rdwdbox ul li.yzm{ padding:9px 0;}
#rdwdbox ul li.yzm img{ width:95px; height:32px; display:block; float:left; padding-left:14px;}
#rdwdbox ul li.yzm a{ display:block; float:left; padding:10px 0 0 6px;}
#rdwdbox ul li.yzm a:link{ color:#234FB0; text-decoration:underline;}
#rdwdbox ul li.yzm a:visited{ color:#234FB0; text-decoration:underline;}
#rdwdbox ul li.yzm a:hover{ color:#BF0800; text-decoration:underline;}
#rdwdbox ul li.yzm span{ width:72px; padding:10px 0 1px 18px; height:20px; float:right; color:#C9040E; background:url(../images/rdwdbg2.jpg) no-repeat left center;}
#rdwdbox ul li.button{width:460px; padding:14px 0 0 246px;}
#rdwdbox ul li.button input{ width:96px; height:28px; border:none; }
