/* 
内容:图片列表2列表模板样式
作者: lqx66
创建时间:2011.10.20
 */
div#main{width:951px; padding:7px 0 6px 9px;}
#leftsidebar{ min-height:756px;}
#content{width:686px; float:left; display:inline; margin-left:9px;}
#content #breadcrumbnav{width:668px;}
#content #qjzsbox{width:684px; float:left; border:1px #d3d3d3 solid; border-top:1px solid #C71A20; margin-top:5px; padding-bottom:40px;}
#content #qjzsbox .lmlbtitle{ margin-bottom:6px;}

#qjzsbox ul.qjzslist{ width:590px; overflow:hidden; padding-left:49px; float:left; display:inline;}
#qjzsbox ul.qjzslist li{ width:614px; float:left; padding:14px 0 24px 0; display:inline; background:url(../images/wzlbbg6.jpg) repeat-x left bottom;}
#qjzsbox dl{width:126px; float:left; display:inline; padding:10px 27px 0 0;}
#qjzsbox dl dt{width:126px; font-size:0; line-height:0;  }
#qjzsbox dl dt img{width:122px; height:92px; display:block; padding:1px; border:1px solid #cccccc;}
#qjzsbox dl dd{ width:126px; text-align:center; margin-top:2px; background:#F1F1F1;}

#content #qjzsbox #changepage{width:604px; padding-left:80px; float:left;  margin-top:25px; }