/* 
内容:文字列表02模板样式
作者: lqx66
创建时间:2011.10.19
 */
div#main{width:951px; padding:7px 0 6px 9px;}
#leftsidebar{ min-height:952px;}
#content{width:686px; float:left; display:inline; margin-left:9px;}
#content #breadcrumbnav{width:668px;}
#content #lmbox{width:684px; float:left; border:1px #d3d3d3 solid; border-top:1px solid #C71A20; margin-top:5px; padding-bottom:40px;}
#content #lmbox .lmlbtitle{ margin-bottom:6px;}
/* 图片列表页1样式 */
#content #lmbox dl.tplblist{width:612px; float:left; display:inline; margin:12px 36px 2px 36px; line-height:22px;  background:url(../images/wzlbbg6.jpg) repeat-x left bottom;}
#content #lmbox dl.tplblist dt{ display:block; float:left; font-size:0; line-height:0; padding-bottom:14px; padding-left:8px;}   
#content #lmbox dl.tplblist dt img{width:96px; height:125px; display:block; padding:1px; border:1px #B1B0B0 solid;}
#content #lmbox dl.tplblist dd{ width:467px; padding-left:14px; float:left; display:inline; text-indent:24px;}
#content #lmbox dl.tplblist dd.tplbtitle { width:465px; padding-left:2px; float:left; font-size:14px; padding-top:8px; padding-bottom:4px; font-weight:bold;}
#content #lmbox #changepage{width:604px; padding-left:80px; float:left;  margin-top:30px; }


