/* 
内容:图片列表5列表模板样式
作者: lqx66
创建时间:2011.10.20
 */
div#main{width:951px; padding:7px 0 6px 9px;}
#leftsidebar{ min-height:756px;}
#content{width:686px; float:left; display:inline; margin-left:9px;}
#content #breadcrumbnav{width:668px;}
#content #qjzsbox{width:684px; float:left; border:1px #d3d3d3 solid; border-top:1px solid #C71A20; margin-top:5px; padding-bottom:40px;}
#content #qjzsbox .lmlbtitle{ margin-bottom:6px;}

#qjzsbox ul.qjzslist{ width:612px; overflow:hidden; padding-left:36px; float:left; display:inline;}
#qjzsbox ul.qjzslist li{ width:614px; float:left; padding:14px 0 24px 20px; display:inline; background:url(../images/wzlbbg6.jpg) repeat-x left bottom;}
#qjzsbox dl{
	width:144px;
	float:left;
	display:inline;
	margin:0 22px;
	border:1px solid #D6D6D6;
	background:#E7E7E7;
	text-align:center;
	padding-bottom:6px;
	margin-top:8px;
}
#qjzsbox dl dt{width:120px; padding:6px 12px 6px 12px; font-size:0; line-height:0;}
#qjzsbox dl dt img{width:116px; height:88px; display:block; padding:2px;  background:url(../images/fwhjimg.jpg) no-repeat left top;}
#qjzsbox dl dd{ line-height:18px;}

#content #qjzsbox #changepage{width:604px; padding-left:80px; float:left;  margin-top:25px; }