/* 
内容:文化体育频道模板样式
作者: lqx66
创建时间:2011.10.17
 */
div#main{width:953px; padding:6px 0 7px 7px; line-height:24px; background:#fff url(../images/mainlistbg.jpg) repeat-x left top;}
/* 公共样式 内容 */
/* 残疾人艺术团,经典剧目 标题 */
.tyysttitle{ background:url(../images/whtytitle2.jpg) no-repeat left top; padding:6px 0 2px 21px; font-size:14px;}
#content h3 {font-size:14px;}
#content h3 a:link{color:#BD0401; text-decoration:none;}
#content h3 a:visited{color:#BD0401; text-decoration:none;}
#content h3 a:hover{color:#BD0401; text-decoration:underline;}
/* 体育组织 公共样式*/
h3.zpzstitle{padding:6px 0 2px 19px;}
span.zpzsmore{ width:209px; display:block; text-align:right; margin-top:-27px; padding-right:23px;}
ul.zpzslist{ float:left; padding:6px 9px 10px 2px}
ul.zpzslist li{ float:left; font-size:0; line-height:0; padding-left:7px; padding-top:11px;}
ul.zpzslist li img{width:100px; height:74px; display:block; padding:1px; border:1px #d3d3d3 solid;}


#leftsidebar {float: left; height: auto; width: 252px;}
#leftsidebar h3 {float: left; padding-bottom: 5px; font-size:0;} 
#leftsidebar h3 img{width:252px; height:34px; display:block;}
#ggxxbox{width:248px; border:#d3d3d3 solid 1px; padding:1px; float:left; color:#FFF; margin-bottom:8px; padding-bottom:10px;}

#xlzxyybox{width:250px; border:1px #d3d3d3 solid; font-size:0; line-height:0; float:left; margin-bottom:7px;}
#xlzxyybox img {width:250px; height:66px; display:block;}
#jqwhhdbox{width:248px; border:#d3d3d3 solid 1px; padding:1px; float:left; color:#FFF; margin-bottom:8px; padding-bottom:10px;}

/* 主内容区域 */
#content {width:700px; background:url(../images/ctop.gif) repeat-x; float:left; display:inline; padding:10px 0 0 0;}
/* 残疾人艺术团 */
#cjrysttbox{width:267px; float:left; display:inline; border:1px #d3d3d3 solid; margin-left:7px; padding-bottom:7px;}
#cjrysttbox p{
width:236px;
text-indent:24px;
margin:5px 5px 5px 6px;
padding:0 8px 0 9px;
background:#F1F1F1;
}
#cjrysttbox p span {color:#BE0403;}
#cjrysttbox ul.tzgglb{ padding-left:18px; width:249px;}
#cjrysttbox .tyystmore{
width:241px;
display:block;
float:right;
text-align:right;
padding:1px 25px 0 0;
display:inline;
background:url(../images/whtymore1.jpg) no-repeat center center;
}
#cjrysttbox span a:link{color:#BE0403; text-decoration:none;}
#cjrysttbox span a:visited{color:#BE0403; text-decoration:none;}
#cjrysttbox span a:hover{color:#BE0403; text-decoration:underline;}
/* 经典剧目 */
#jdjmbox{width:267px; float:left; display:inline; border:1px #d3d3d3 solid; margin-left:6px; padding-bottom:7px;}
#jdjmbox dl{width:249px; padding:9px 8px 5px 10px; float:left;}
#jdjmbox dl dt{float:left; font-size:0; line-height:0; border:1px solid #B1B0B0;}
#jdjmbox dl dt img{width:96px; height:125px; display:block; border:1px solid #F6F6F6;}
#jdjmbox dl dd{float:left; width:122px; margin-left:1px; display:inline; background:#F1F1F1; padding:0 10px 8px 15px;}
#jdjmbox dl dd span{ width:122px; display:block; font-weight:bold; margin-left:-5px;}
/* 艺术之星 */
#yszxbox{width:134px; float:left; display:inline; border:1px #d3d3d3 solid; margin-left:7px; padding-bottom:7px;}
#yszxbox h3{ background:url(../images/whtytitle3.jpg) no-repeat left top; padding:6px 0 2px 21px; }
#yszxbox h3 a:link{color:#BD0401; text-decoration:none;}
#yszxbox h3 a:visited{color:#BD0401; text-decoration:none;}
#yszxbox h3 a:hover{color:#BD0401; text-decoration:underline;}
#yszxbox dl{width:123px; background:#f1f1f1; margin:5px 5px 0 6px;}
#yszxbox dl dt{width:98px; font-size:0; line-height:0; padding-left:12px;}
#yszxbox dl dt img{width:96px; height:125px; display:block; padding:1px; border:1px solid #B1B0B0;}
#yszxbox dl dd{width:122px; font-weight:bold; text-align:center;}
#yszxbox dl dd.yszxcon{width:108px; text-align:left; font-weight:normal; padding:0 7px 0 7px;}
#yszxbox ul{ float:left; padding:8px 0 0 8px;}
#yszxbox ul li{ float:left; width:60px; text-align:center;}
/* 文化组织 */
#whzzbox{width:444px; float:left; display:inline; margin-left:6px; margin-top:8px; border:1px #d3d3d3 solid; border-top:1px solid #C71A20; height:246px;}

/* 作品展示 */
#zpzsbox{width:233px; background:url(../images/whtytitle5.jpg) no-repeat left top; border:1px #d3d3d3 solid; float:left; display:inline; margin-left:7px; margin-top:8px; padding-bottom:23px;}
#sfdsbox {width:688px; font-size:0; line-height:0; float:left; display:inline; margin:8px 0 0 6px;}
#sfdsbox img{width:686px; height:65px; display:block; border:1px #d3d3d3 solid;}
/* 文化组织 */

#jjtybox1 {
	width:444px; float:left;  margin-left:6px; margin-top:8px; border:1px #d3d3d3 solid; border-top:1px solid #C71A20; height:220px;
	background:url(../images/wlBj_8.png) repeat-x 0 29px;
}
#jjtybox1 div {
	zoom:1;
	overflow:hidden;
}
#jjtybox1 div h3 {
	float:left;
}
#jjtybox1 div ul {
	float:right;
	zoom:1;
	overflow:hidden;
	padding:5px 5px 0 0;
}
#jjtybox1 div ul li {
	float:left;
	width:69px;
	line-height:25px;
	background:url(../images/wlBj_16.png) no-repeat 0 0;
	margin:0 0 0 5px;
}
#jjtybox1 div ul li a {
	display:block;
	text-align:center;
}
#jjtybox1 div ul .bj {
	background:url(../images/wlBj_17.jpg) no-repeat 0 0;
}
#jjtybox1 ol {
	clear:both;
	line-height:25px;
	padding:10px 0 0 0;
}
#jjtybox1 ol li {
	padding:0 0 0 25px;
	zoom:1;
	overflow:hidden;
}
#jjtybox1 .display {
	display:block;
}
#jjtybox1 ol {
	display:none;
}
#jjtybox1 ol li a {
	float:left;
}
#jjtybox1 ol li span {
	float:right;
	margin:0 10px 0 0;
}
#jjtybox1 ol .more1 {
	padding:0 0 0 390px;
	background:url(../images/wlBj_18.jpg) no-repeat 420px 8px;
}
/* 训练环境 */
#xlhjbox{width:233px; background:url(../images/whtytitle5.jpg) no-repeat left top; border:1px #d3d3d3 solid; float:left; display:inline; margin-left:7px; margin-top:8px;}
#xlhjbox ul.zpzslist{ padding-top:3px;}
/* 群体体育 */
#qttybox{width:444px; float:left; display:inline; margin-left:6px; margin-top:8px; border:1px #d3d3d3 solid; border-top:1px solid #C71A20;}


#cjrhdbox{width:248px; border:#d3d3d3 solid 1px; padding:1px;color:#FFF; margin-bottom:8px; }
#cjrhdbox ul {
	width:236px;
	margin:10px auto 0 auto;
	zoom:1;
	overflow:hidden;
	background:url(../images/wlBj_8.png) repeat-x 0 bottom;
	padding:0 0 0 7px;
}
#cjrhdbox ul li {
	float:left;
	margin:0 2px 0 0;
}
#cjrhdbox ul #wla1 {
	display:block;
	width:59px;
	height:24px;
	line-height:24px;
	text-align:center;
	background:url(../images/wlBj_6.jpg) no-repeat 0 0;
}
#cjrhdbox ul #wla2 , #cjrhdbox ul #wla3 {
	display:block;
	width:84px;
	line-height:24px;
	background:url(../images/wlBj_5.jpg) no-repeat 0 0;
	text-align:center;
}
#wlCon , #wlCon3 {
	width:228px;
	margin:5px auto 0 auto;
}
#wlCon li , #wlCon3 li {
	line-height:21px;
	padding:0 0 0 15px;
}
#wlCon2 {
	width:230px;
	margin:10px auto 0 auto;
	padding:0 0 0 7px;
	display:none;
}
#wlCon2 div {
	float:left;
	border:1px #aaa solid;
	margin:0 11px 0 0;
	padding:1px;
}
#wlCon2 ol {
	clear:both;
	width:220px;
	line-height:21px;
	border-top:1px #999 dashed;
	margin:10px 0 0 0;
}
#wlCon3 {
	display:none;
}

#jgdhbox {
	width:250px; height:252px;
	border:1px #ddd solid;
}
#jgdhbox h3 {
	font-size:14px;
	float:none;
	background:url(../images/wlBj_1.jpg) no-repeat 0 0;
	line-height:29px;
}
#jgdhbox h3 a {
	color:#FFF;
	margin:0 0 0 10px;
}
#jgdhbox p {
	width:230px;
	padding:4px;
	margin:0 auto;
	background:#f1f1f1;
	text-indent:24px;
	color:#666666;
}
#jgdhbox p a {
	color:#f00;
}
#jgdhbox ul {
	width:230px;
	background:url(../images/wlBj_8.png) repeat-x 0 bottom;
	zoom:1;
	overflow:hidden;
	margin:10px 0 0 7px;
	padding:0 0 0 7px;
}
#jgdhbox ul li {
	float:left;
	margin:0 2px 0 0;
}
#jgdhbox ul .display a {
	background:url(../images/wlBj_11.jpg) no-repeat 0 0;
	font-weight:bold;
}
#jgdhbox ul li a {
	display:block;
	width:84px;
	line-height:24px;
	background:url(../images/wlBj_12.jpg) no-repeat 0 0;
	display:block;
	line-height:24px;
	text-align:center;
}
#jgdhbox #d11 , #jgdhbox #d12 {
	clear:both;
	margin:10px 0 0 0;
}
#jgdhbox #d11 li , #jgdhbox #d12 li {
	line-height:23px;
	padding:0 0 0 35px;
}
#jgdhbox #d11 .more1 , #jgdhbox #d12 .more1 {
	background:url(../images/wlBj_4.jpg) no-repeat 35px 7px;
	zoom:1;
	overflow:hidden;
	margin:0;
	padding:0;
}
#jgdhbox #d11 .more1 a , #jgdhbox #d12 .more1 a {
	float:right;
	padding:0 22px 0 0;
	display:block;
}
#jgdhbox #d12 {
	display:none;
}


#kfxlbox {
	width:444px;
	border:1px #D6D6D6 solid;
	margin:9px 0 0 7px;
	_margin:9px 0 0 3px;
	position:relative;
	float:left;
	padding:0 0 10px 0;
	height:236px;
	overflow:hidden;
}

/* h2.css */
#kfxlbox h2 {
	line-height:31px;
	background:url(../images/wlBj_13.jpg) no-repeat 0 0;
	padding:0 0 5px 21px;
	color:#BC0402;
}
#kfxlbox h2 a {
	color:#BE0403;
	font-size:14px;
}

/* dl.css */
#kfxlbox div {
	background:url(../images/kffwBj_4.jpg) repeat-y 194px 0;
}
#kfxlbox dl {
	width:470px;
	zoom:1;
	overflow:hidden;
	margin:0 0 0 5px;
}
#kfxlbox dl dt {
	float:left;
	width:191px;
	line-height:36px;
	text-align:center;
}
#kfxlbox dl dt a {
	display:block;
	background:url(../images/wlBj_15.jpg) no-repeat 4px 0;
	font-size:14px;
}
#kfxlbox .display a {
	background:url(../images/wlBj_14.jpg) no-repeat 0 0;
	line-height:36px;
	font-size:14px;
}
#kfxlbox .display dd {
	display:block;
}
#kfxlbox dl dd {
	width:211px;
	border:2px #E2CCA7 solid;
	border-left:none;
	height:142px;
	display:none;
	position:absolute;
	left:194px;
	z-index:1;
	line-height:23px;
	padding:17px;
	top:36px;
}

#ttjjbox {
	width:234px;
	border:1px #ddd solid;
	background:url(../images/wlBj_19.jpg) no-repeat 0 0;
	float:left;
	margin:7px 0 0 6px;
	padding:0 0 10px 0;
}
#ttjjbox ul {
	zoom:1;
	overflow:hidden;
	background:url(../images/wlBj_23.jpg) repeat-x 0 bottom;
	margin:6px 0 0 0;
	padding:0 0 0 3px;
}
#ttjjbox ul li {
	margin:0 3px 0 0;
}
#ttjjbox ul .display {
	background:url(../images/wlBj_21.jpg) no-repeat 0 0;
}
#ttjjbox ul li {
	float:left;
	width:111px;
	line-height:26px;
	background:url(../images/wlBj_22.jpg) no-repeat 0 0;
}
#ttjjbox ul .display a {
	color:#F00;
}
#ttjjbox ul li a {
	display:block;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
#ttjjbox .block {
	display:block;
}
#ttjjbox ol {
	zoom:1;
	margin:10px 0 0 10px;
	overflow:hidden;
	display:none;
}
#ttjjbox ol li {
	float:left;
	margin:0 10px 0 0;
	_margin:0 5px 0 0;
}
#ttjjbox ol p {
	background:#ddd;
	text-align:center;
}
#ttjjbox ol p a {
	display:block;
	text-align:center;
	padding:5px 0 0 0;
	line-height:17px;
}