/* 
内容:网站地图样式
作者: lqx66
创建时间:2011.10.21
 */
div#main{width:952px; padding:3px 0 6px 8px;}

div#content{width:876px; color:#1E1E1E; border:1px solid #D8D8D8; float:left; display:inline; background:url(../images/wznrbg1.jpg) repeat-x left top; padding:37px 0 52px 68px;}
div#content h3{font-size:16px; color:#9A2726;}
div#content .wzdtbox{width:815px; float:left; display:inline; margin-top:15px;}
div#content h4{ width:812px; border:1px solid #DCDCDC; padding-left:1px; margin-bottom:12px;}
div#content h4 a{width:804px; display:block; background:url(../images/wzdtbg2.jpg) repeat-x left top; padding:6px 0 1px 7px; }
div#content a:link{color:#1E1E1E; text-decoration:none;}
div#content a:visited{color:#1E1E1E; text-decoration:none;}
div#content a:hover{color:#9A2726; text-decoration:none;}
div#content .wzdtbox h5{width:800px; padding-left:12px; line-height:24px;}
div#content .wzdtbox div {width:815px; float:left; line-height:24px;}
div#content .wzdtbox div h5{ float:left; display:inline; width:76px; text-align:center; padding:0;}
div#content .wzdtbox ul{ width:auto; float:left; display:inline; padding-left:12px;} 
div#content .wzdtbox ul li{ float:left; line-height:24px; background:url(../images/wzdtbg3.jpg) no-repeat right center; padding:0 8px 0 8px;}
div#content .wzdtbox ul li.lastli{ background:none;}
div#content #wzdtshow {width:815px; float:left; display:inline; margin-top:15px;}
div#content #wzdtshow div{width:803px; padding-left:12px; float:left;}
div#content #wzdtshow h5{width:803px; background: url(../images/wzdttitle.jpg) no-repeat left top; padding:5px 0 4px 9px; float:left;}
div#content #wzdtshow ul{ width:803px; float:left; display:inline; padding:4px 0 8px 12px;} 
div#content #wzdtshow ul li{ float:left; line-height:28px; background:url(../images/wzdtbg3.jpg) no-repeat right center; padding:0 12px 0 12px;}
div#content #wzdtshow ul li.lastli{ background:none;}


