
div#main{width:951px; padding:7px 0 6px 9px;}
#leftsidebar{ min-height:860px;}
#content{width:686px; float:left; display:inline; margin-left:9px;}
#content #breadcrumbnav{width:669px;}
#content #lmbox{width:684px; float:left; border:1px #d3d3d3 solid; border-top:1px solid #C71A20; margin-top:5px; padding-bottom:40px;}

#content #lmbox #changepage{width:604px; padding-left:80px; float:left;  margin-top:30px;}
