@charset "gb2312";
/* CSS Document */

#main{
	padding:1px 8px 10px 8px;
	width:944px;
	line-height:24px;
}

#leftsidebar{
	width:252px;
	float:left;
}
#leftsidebar h3{
	width:252px;
	float:left;
	padding-bottom:5px;
}
/*通知公告*/
#leftsidebar #tzggbox{
	width:248px;
	border:#d3d3d3 solid 1px;
	padding:1px;
	float:left;
	color:#FFF;
	padding-bottom:8px;
}
#leftsidebar #bgxzbox{
	width:248px;
	border:#d3d3d3 solid 1px;
	padding:1px;
	float:left;
	color:#FFF;
	padding-bottom:8px;
}

#leftsidebar #tzggbox  .xq{
	width:224px;
	background-color:#f8f2e4;
	float:left;
	padding:8px;
	line-height:18px;
	margin-left:4px;
	margin-top:4px;
	display:inline
}
#leftsidebar #tzggbox .xq .bt{
	font-weight:bold;
	color:#000;
	float:left;
	width:224px;
	overflow: hidden; 
 	white-space:nowrap; 
 	text-overflow: ellipsis;
}
#leftsidebar #tzggbox .xq span.xq1{
	color:#565656;
	float:left;
	width:224px;
}
#leftsidebar #tzggbox .xq span a{
	color:#F00;
}


/*四个按钮*/
#leftsidebar #sganbox{
	width:252px;
	float:left;
	padding-bottom:5px;
	padding-top:8px;
}
#leftsidebar #sganbox .sgan1{
	width:80px;
	float:left;
	padding-bottom:3px;
	padding-left:45px;
	line-height:31px;
	background:url(../images/zwpd_left_03.jpg) no-repeat;
}
#leftsidebar #sganbox .sgan2{
	float:right
}
#leftsidebar #sganbox .sgan1 a{
	color:#a90a0a;
}

/*在线调查*/
.zxdc_h4{
	width:240px;
	background:url(../images/zwpd_left_05.jpg) repeat-x;
	line-height:36px;
	padding-left:10px;
	color:#be0403;
	font-size:14px;
}
.zxdc_h4 a {
	color:#BE0403;
}
#leftsidebar #zxdcbox{
	width:250px;
	border:#d3d3d3 solid 1px;
	border-top:none;
	float:left;
	margin-top:8px;
	display:inline;
	padding-bottom:10px;
}
#leftsidebar #lxxxbox{
	width:250px;
	border:#d3d3d3 solid 1px;
	border-top:none;
	float:left;
	margin-top:8px;
	display:inline;
	padding-bottom:10px;
}

#leftsidebar #zxdcbox .zxdc_form{
	width:200px;
	float:left;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:8px;
}
#leftsidebar #zxdcbox .zxdc_h5{
	font-weight:bold;
	width:200px;
	float:left;
}
#leftsidebar #zxdcbox .dx{
	width:180px;
	float:right;
	line-height:20px;
}
#leftsidebar #zxdcbox .inp{
	width:16px;
	float:left;
	line-height:20px;
	height:20px;

}
#leftsidebar #zxdcbox .tj{
	background:url(../images/zwpd_left_06.jpg) no-repeat;
	border:none;
	text-align:center;
	width:64px;
	line-height:20px;
	height:20px;
	float:left;
	color:#FFF;
	margin-top:5px;
	margin-left:30px;
	display:inline
}
#leftsidebar #zxdcbox .ck{
	background:url(../images/zwpd_left_07.jpg) no-repeat;
	border:none;
	text-align:center;
	width:64px;
	line-height:20px;
	height:20px;
	float:left;
	color:#FFF;
	margin-top:5px;
	margin-left:20px;
	display:inline
}
#leftsidebar #lxxxbox .zxdc_bt{
	font-size:14px;
	float:left;
	padding-left:20px;
	padding-top:5px;
	width:210px;
}
#leftsidebar #lxxxbox .zxdc_dz{
	float:left;
	padding-left:20px;
	color:#565656;
	width:230px;
	padding-bottom:24px;
} 
#leftsidebar #lxxxbox .zxdc_dz li{width:230px;}

#content {
	background:url(../images/ctop.gif) repeat-x;
	width:460px;
	padding-left:7px;
	padding-right:7px;
	float:left;
}
/*市残联简介*/
#cljjbox p .dd {
	color:#000;
}
#content #cljjbox{width:456px;}
#content #zzjjbox{width:456px;}
#content #bsznbox{width:456px;}
#content .cljj{
	clear:both;
	float:left;
	border:#d3d3d3 solid 1px;
	border-top:none;
	margin-top:10px;
	display:inline;
	padding-bottom:2px;
}
#content .jj{
	background:url(../images/zwpd_01.jpg) repeat-x;
	line-height:31px;
	width:446px;
	padding-left:10px;
	height:31px;
	float:left;
	color:#be0403;
	font-size:14px;
}
#content .jj a {
	color:#BE0403;
}
#content .cljj p{
	width:426px;
	float:left;
	padding:10px 15px 10px 15px;
}
#content #dd {
	color:#000;
}
#content #dd:hover {
	color:#BE0403
}
#content .cljj p a{color:#F00}

/*组织机构*/
#content #jgbs{
	width:456px;
	float:left;
	position:relative;
	height:120px;
}
#content div.cljj h5{
	background:url(../images/zwpd_03.jpg) no-repeat;
	width:74px;
	height:24px;
	line-height:24px;
	text-align:center;
	float:left;
	position:absolute;
	top:-24px;
	font-weight:normal;
}
#content div.cljj .jgbs_h5{left:152px;}
#content div.cljj .zsdw{left:228px;}
#content div.cljj .zmxh{left:304px;}
#content div.cljj .shtt{left:380px;}
#content div.cljj h5 a{color:#333333;}
#content div.cljj ul{
	display:none;
}
/* 选项卡机关部室 */
#content div.cljj div.jgbs_div .jgbs_h5{
	background:url(../images/zwpd_02.jpg) no-repeat;
	}
#content div.cljj div.jgbs_div .jgbs_h5 a{color:#be0403}
#content div.cljj div.jgbs_div ul.jgbs_ul{
	display:block;
	width:448px;
	float:left;
	padding-top:12px;
	padding-left:8px;
}
#content div.cljj div.jgbs_div ul.jgbs_ul li{
	background:url(../images/zwpd_04.jpg) no-repeat;
	width:108px;
	height:41px;
	line-height:40px;
	float:left;
	margin-right:4px;
	margin-bottom:8px;
	display:inline;
	font-size:14px;
	text-align:center;
}
#content div.cljj div.jgbs_div ul.jgbs_ul li a{color:#a90a0a;}
/* 选项卡直属单位 */
#content div.cljj div.zsdw_div .zsdw{
	background:url(../images/zwpd_02.jpg) no-repeat;
	}
#content div.cljj div.zsdw_div .zsdw a{color:#be0403}
#content div.cljj div.zsdw_div .zsdw_ul{
	width:428px;
	display:block;
	float:left;
	padding:10px;
	padding-bottom:0px;
}
#content div.cljj div.zsdw_div .zsdw_ul li{
	width:210px;
	float:left;
	line-height:18px;
}
/* 选项卡专门协会 */
#content div.cljj div.zmxh_div .zmxh{
	background:url(../images/zwpd_02.jpg) no-repeat;
	}
#content div.cljj div.zmxh_div .zmxh a{color:#be0403}
#content div.cljj div.zmxh_div .zmxh_ul{
	width:448px;
	display:block;
	float:left;
	padding-top:12px;
	padding-left:8px;
}
#content div.cljj div.zmxh_div .zmxh_ul li{
	background:url(../images/zwpd_4.jpg) no-repeat;
	width:145px;
	height:41px;
	line-height:40px;
	float:left;
	margin-right:4px;
	margin-bottom:8px;
	display:inline;
	font-size:14px;
	text-align:center;
}
#content div.cljj div.zmxh_div .zmxh_ul li a{color:#a90a0a}
/* 选项卡社会团体 */
#content div.cljj div.shtt_div .shtt{
	background:url(../images/zwpd_02.jpg) no-repeat;
	}
#content div.cljj div.shtt_div .shtt a{color:#be0403}
#content div.cljj div.shtt_div .shtt_ul{
	width:448px;
	display:block;
	float:left;
	padding-top:12px;
	padding-left:8px;
}
#content div.cljj div.shtt_div .shtt_ul li{
	background:url(../images/zwpd_5.jpg) no-repeat;
	width:233px;
	height:41px;
	line-height:40px;
	float:left;
	margin-right:4px;
	margin-bottom:8px;
	display:inline;
	font-size:14px;
	text-align:center;
}
#content div.cljj div.shtt_div .shtt_ul li a{color:#a90a0a}


/*办事指南*/
#content .bszn_h4{
	font-size:14px;
	float:left;
}
#content .bszn_gd{
	background:url(../images/zwpd_12.gif) no-repeat right;
	float:right;
	padding-right:10px;
	font-size:12px;
	margin-right:12px;
	display:inline
}
#content .bszn_an{
	background:url(../images/zwpd_06.jpg) no-repeat;
	width:174px;
	height:31px;
	padding-left:40px;
	line-height:31px;
	float:left;
	margin-left:10px;
	margin-top:10px;
	display:inline
	}
#content .bszn_an a{color:#be0403}
#content div.cljj .bszn_ul{
	width:420px;
	display:block;
	float:left;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:8px;
	}
#content .bszn_ul li{
width:395px;
float:left;
background:url(../images/zwpd_left_04.jpg) no-repeat left;
padding-left:15px;
font-size:14px
}
#content .bszn_ul li a{
width:320px;
float:left
}
#content .bszn_ul li span{
width:70px;
float:right;
color:#666666;
text-align:right
}

#rightsidebar{
	width:218px;
	float:right;
	background:url(../images/ctop.gif) repeat-x;
	}
#rightsidebar #llyjbox{width:216px;}
#rightsidebar #djgzbox{width:216px;}

/*理论研究*/
#rightsidebar .llyj{
border:#d1b689 solid 1px;
float:left;
border-top:none;
padding-bottom:10px;
margin-top:10px;
display:inline
}
#rightsidebar .llyj .llyj1{
width:191px;
background:url(../images/zwpd_05.jpg) repeat-x;
height:30px;
line-height:30px;
float:left;
padding-left:15px;
padding-right:10px;
}
#rightsidebar .llyj h4{
float:left;
font-size:14px;
width:150px;
}
#rightsidebar .llyj span.gd{
width:35px;
background:url(../images/zwpd_12.gif) right no-repeat;
float:right
}

#rightsidebar .llyj .xq{
	width:190px;
	background-color:#f8f2e4;
	float:left;
	padding:10px;
	line-height:18px;
	margin-left:4px;
	margin-top:4px;
	display:inline;
	line-height:22px;
}
#rightsidebar .llyj .xq .bt{
	font-weight:bold;
	color:#000;
	float:left;
	width:185px;
	line-height:20px;
 	white-space:nowrap; 
 	text-overflow: ellipsis;
}
#rightsidebar .llyj .xq span.xq1{
	color:#565656;
	float:left;
	width:185px;
}
#rightsidebar .llyj .xq span a{
	color:#F00;
}
#rightsidebar .llyj .lb{
	width:200px;
	float:left;
	padding-left:15px;
	padding-top:5px;
}
#rightsidebar .llyj .lb li{
	width:180px;
	background:url(../images/zwpd_left_04.jpg) no-repeat left;
	float:left;
	padding-left:10px;
	line-height:25px;
}

/*政策法规*/
div#zcfgbox{
	width:683px;
	float:left;
	border:#d3d3d3 solid 1px;
	border-top:none;
	background:url(../images/zwpd_01.jpg) repeat-x top;
	margin-left:7px;
	margin-top:10px;
	display:inline;
}
div#zcfgbox .h4{
	width:660px;
	float:left;
	background:url(../images/zwpd_07.jpg) no-repeat 2px 2px;
	line-height:31px;
	height:31px;
	color:#be0403;
	font-size:14px;
	padding-left:20px;
}
.h4 a {
	color:#BE0403;
}
div#zcfgbox .xbt1{
	width:455px;
	float:left; 
}
div#zcfgbox .xbt{
	width:450px;
	float:left;
	padding-left:5px;
	padding-top:5px;
}
div#zcfgbox .xbt li{
	background: url(../images/zwpdzw_03.jpg) no-repeat right;
	float:left;
	padding-left:12px;
	padding-right:13px;
	background-color:#f8f2e4;
	width:48px;
	text-align:center;
}
div#zcfgbox .xbt .wu{
	float:left;
	padding-left:12px;
	padding-right:13px;
	background-color:#f8f2e4;
	width:48px;
	text-align:center;
	background-image:none;
}
div#zcfgbox .xbt a{color:#a90a0a}

div#zcfgbox .lb{
	width:435px;
	float:left;
	padding-left:20px;
	padding-top:5px;
}
div#zcfgbox .lb li{
	width:420px;
	background:url(../images/zwpd_left_04.jpg) no-repeat left;
	padding-left:12px;
	font-size:14px;
	float:left;
	
}

div#zcfgbox .ss{
	width:210px;
	padding:6px;
	float:right;
}
div#zcfgbox .ss .form{
	width:200px;
	padding:5px;
	float:left;
	background-color:#f8f2e4;
}
div#zcfgbox .ss .form .lab{
	width:70px;
	float:left;
	color:#454545;
	text-align:right;
	height:20px;
	line-height:20px;
	margin-top:5px;
	display:inline
}
div#zcfgbox .ss .form .lab1{
	width:15px;
	float:left;
	color:#454545;
	margin-top:5px;
	display:inline;
}
div#zcfgbox .ss .form .nrk{
	width:124px;
	height:20px;
	line-height:20px;
	float:left;
	border:#8b6d63 solid 1px;
	margin-top:5px;
	display:inline;
}
div#zcfgbox .ss .form .sel{
	width:65px;
	height:20px;
	float:left;
	border:#8b6d63 solid 1px;
	margin-top:5px;
	display:inline;
}
div#zcfgbox .ss .form .jh{
	width:22px;
	height:20px;
	float:left;
	border:#8b6d63 solid 1px;
	margin-top:5px;
	display:inline;
}
div#zcfgbox .ss .form .fl{
	width:124px;
	height:20px;
	float:left;
	border:#8b6d63 solid 1px;
	margin-top:5px;
	display:inline;
}
div#zcfgbox .ss .form .sou{
	background:url(../images/zwpd_08.jpg) no-repeat;
	width:51px;
	height:19px;
	float:right;
	color:#6e1f00;
	border:none;
	margin-top:5px;
	display:inline;
}

/*互动参与*/
div#hdcybox{
	width:683px;
	float:left;
	border:#d3d3d3 solid 1px;
	border-top:none;
	background:url(../images/zwpd_left_05.jpg) repeat-x top;
	margin-left:7px;
	margin-top:7px;
	display:inline;
}
div#hdcybox .h4{
	width:660px;
	float:left;
	background:url(../images/zwpd_07.jpg) no-repeat 2px 2px;
	line-height:36px;
	height:36px;
	color:#be0403;
	font-size:14px;
	padding-left:20px;
}

div#hdcybox .left{
	width:450px;
	float:left;
	padding:4px;
}
div#hdcybox #left1{
	width:450px;
	float:left;
	position:relative;
	margin-top:24px;
	display:inline;
	border-top:#cccbcb solid 1px;
	padding-top:6px;
}
div#hdcybox h5{
	background:url(../images/zwpd_03.jpg) no-repeat;
	width:74px;
	height:24px;
	line-height:24px;
	float:left;
	position:absolute;
	top:-24px;
	text-align:center;
	font-weight:normal;
}
div#hdcybox h5 a{color:#333333;}
div#hdcybox h5.rdwt{left:10px;}
div#hdcybox h5.ldxx{left:85px;}
div#hdcybox h5.flwq{left:161px;}
div#hdcybox .kuai,div#hdcybox ul{
	display:none;
}
div#hdcybox .kuai{
	width:450px;
	background-color:#f8f2e4;
	float:left;
	line-height:20px;
	padding:6px 0px;
}
div#hdcybox .kuai .span{
	width:38px;
	float:left;
	color:#be0403;
	font-weight:bold;
	text-align:center;
}
div#hdcybox .kuai .h6{
	float:left;
	width:400px;
}
div#hdcybox .kuai .span1{
	float:left;
	width:400px;
	color:#666
}
	
div#hdcybox ul{
	width:420px;
	float:left;
	padding-left:15px;
	padding-top:1px;
	}
div#hdcybox ul li{
width:395px;
float:left;
background:url(../images/zwpd_left_04.jpg) no-repeat left;
padding-left:15px;
font-size:14px;
}
div#hdcybox ul li a{
width:320px;
float:left
}
div#hdcybox ul li span{
width:70px;
float:right;
color:#666666;
text-align:right;
}
/* 选项卡热点问题 */
div#hdcybox div.rdwt_div h5.rdwt{
	background:url(../images/zwpd_02.jpg) no-repeat;
}
div#hdcybox div.rdwt_div h5.rdwt a{color:#000;}
div#hdcybox div.rdwt_div .kuai,div#hdcybox div.rdwt_div ul.rdwt_ul{
	display:block;
}
/* 选项卡领导信箱 */
div#hdcybox div.ldxx_div h5.ldxx{
	background:url(../images/zwpd_02.jpg) no-repeat;
}
div#hdcybox div.ldxx_div h5.ldxx a{color:#000;}
div#hdcybox div.ldxx_div ul.ldxx_ul{
	display:block;
}
/* 选项卡法律维权 */
div#hdcybox div.flwq_div h5.flwq{
	background:url(../images/zwpd_02.jpg) no-repeat;
}
div#hdcybox div.flwq_div h5.flwq a{color:#000;}
div#hdcybox div.flwq_div ul.flwq_ul{
	display:block;
}

div#hdcybox .right{
	width:210px;
	float:right;
	padding:5px;
	display:inline;
}
div#hdcybox .right ul{
	width:202px;
	display:block;
	padding:5px;
	background-color:#f8f2e4;
	float:left;
}
div#hdcybox .right ul li{
	background:none;
	width:202px;
	line-height:0px;
	float:left;
	padding-top:3px;
	padding-left:0px;
}
div#hdcybox .right ul li a{
	width:202px;
}
div#hdcybox .right ul li img{
	line-height:0px;
	font-size:0px;

}
	