@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.body_view {
	background-color: #E6EEF6;
	background-image: url(../../images/view_02.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
table {
    font-size: 14px;
	line-height:22px;
}
.font {
	font-size: 14px;
	color: #575958;
}
.font2 {
	font-size: 12px;
	color: #D75540;
	text-decoration: none;
}
.font3 {
	font-size: 14px;
	color: #D75540;
	text-decoration: none;
}
.font4 {
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
}
.font5 {
	font-size: 12px;
	color: #575958;
	text-decoration: none;
}
.font6 {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}
.font7 {
	font-size: 12px;
	color: #2F6000;
	text-decoration: none;
	
}
.font8 {
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	
}
.font9 {
	font-size: 12px;
	color: #BA3C27;
	text-decoration: none;
	
}
.font10 {
	font-size: 12px;
	color: #1C5AA7;
	text-decoration: underline;
}
.fontview {
	font-size: 12px;
	color: #1C5AA7;
	text-decoration: none;
}
a:link {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 14px;
	color: #FF9900;
}
.b:link {
	font-size: 14px;
	color: #D75540;
	text-decoration: none;
	font-weight: bold;
}
.b:visited {
	font-size: 14px;
	color: #D75540;
	text-decoration: none;
	font-weight: bold;
}
.b:hover {
	font-size: 14px;
	color: #FF9900;
	font-weight: bold;
}
.c:link {
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
.c:visited {
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
.c:hover {
	font-size: 14px;
	color: #D75540;
	font-weight: bold;
}
.d:link {
	font-size: 12px;
	color: #575958;
	text-decoration: none ;
}
.p:link {
	font-size: 13px;
	color: #575958;
	text-decoration: underline ;
}
.p:visited {
	font-size: 13px;
	color: #575958;
	text-decoration: underline;
}
.d:visited {
	font-size: 12px;
	color: #575958;
	text-decoration: none;
}
.d:hover {
	font-size: 12px;
	color: #D75540;
	text-decoration: underline;
}
.e:link {
	font-size: 14px;
	color: #ffffff;
	text-decoration: underline;
}
.e:visited {
	font-size: 14px;
	color: #000000;
	text-decoration: underline;
}
.e:hover {
	font-size: 14px;
	color: #D75540;
}
.list:link {
	font-size: 12px;
	color: #D75540;
	text-decoration: none;
	line-height:20px;
}
.list:visited {
	font-size: 12px;
	color: #D75540;
	text-decoration: none;
	line-height:20px;
}
.list:hover {
	font-size: 12px;
	color: #FF9900;
	line-height:20px;
}
.f:link {
	font-size: 12px;
	color: #D75540;
	text-decoration: none;
}
.f:visited {
	font-size: 12px;
	color: #D75540;
	text-decoration: none;
}
.f:hover {
	font-size: 12px;
	color: #FF9900;
}
.f2:link {
	font-size: 14px;
	color: #D75540;
	text-decoration: none;
}
.f2:visited {
	font-size: 14px;
	color: #D75540;
	text-decoration: none;
}
.f2:hover {
	font-size: 14px;
	color: #FF9900;
}
.g:link {
	font-size: 12px;
	color: #2F6000;
	text-decoration: none;
}
.g:visited {
	font-size: 12px;
	color: #2F6000;
	text-decoration: none;
}
.g:hover {
	font-size: 12px;
	color: #2F6000;
	text-decoration: none;
}
.h:link {
	font-size: 12px;
	color: #BA3C27;
	text-decoration: none;
}
.h:visited {
	font-size: 12px;
	color: #BA3C27;
	text-decoration: none;
}
.h:hover {
	font-size: 12px;
	color: #BA3C27;
	text-decoration: none;
}
input {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	height: 19px;
	width: 180px;
	border: 1px solid #CEABA5;
}
.input2 {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	width: 110px;
	border: 1px solid #cccccc;
}
.input3 {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	width: 250px;
	border: 1px solid #7F9DB9;
}
.input5 {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	height: 90px;
	width: 400px;
	border: 1px solid #7F9DB9;
}
.input4 {
	font-size: 12px;
	color: #454545;
	background-image: url(../../images/qiye_submit.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 64px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: center;
}
.input6 {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	height: 18px;
	width: 110px;
	border: 1px solid #7F9DB9;
}
.input7 {
	height: 18px;
	width: 18px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #E5E5E5;
}
.input8 {
	font-size: 12px;
	height: 25px;
	width: 64px;
	text-align: center;
}
.button {
	background-image: url(../../images/icon2.gif);
	height: 18px;
	width: 120px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	color: #FFFFFF;
}


.header {font: 12px Arial, Tahoma !important;font-weight: bold !important;font: 11px Arial, Tahoma;font-weight: bold;color: #154BA0;background:#C2DEED;height: 25px;padding-left: 10px;
}
.header td {padding-left: 10px;}
.header a {color: #154BA0;}
.header input {background:none;vertical-align: middle;height: 16px;}
.category {font: 12px Arial, Tahoma !important;font: 11px Arial, Tahoma;color: #92A05A;height:20px;background-color: #FFFFD9;}
.category td {border-bottom: 1px solid #DEDEB8;}
.expire, .expire a:link, .expire a:visited {color: #999999;}
.default, .default a:link, .default a:visited {color: #000000;}
.checked, .checked a:link, .checked a:visited {color: #FF0000;}
.today, .today a:link, .today a:visited {color: #00BB00;}
#calendar_year {display: none;line-height: 130%;background: #FFFFFF;position: absolute;z-index: 10;}
#calendar_year .col {float: left;background: #FFFFFF;margin-left: 1px;border: 1px solid #86B9D6;padding: 4px;}
#calendar_month {display: none;background: #FFFFFF;line-height: 130%;border: 1px solid #86B9D6;padding: 4px;position: absolute;z-index: 11;}
.tableborder {background: white;border: 1px solid #86B9D6;}
#year,#month{padding-right:10px;background:url(attachments/month_0701/8200714125245.gif) no-repeat center right;}