body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:8px;
  top:38px;
  width:768px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:601px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:77px;
  top:52px;
  width:176px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:23px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:38px;
  top:101px;
  width:695px;
  height:146px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:0px;
  width:240px;
  height:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:236px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:340px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:440px;
  top:0px;
  width:250px;
  height:36px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:37px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:70px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u14 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:36px;
  width:240px;
  height:70px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:71px;
}
#u16 {
  position:absolute;
  left:2px;
  top:27px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:340px;
  top:36px;
  width:100px;
  height:70px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u18 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:440px;
  top:36px;
  width:250px;
  height:70px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:71px;
}
#u20 {
  position:absolute;
  left:2px;
  top:27px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:106px;
  width:100px;
  height:35px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:100px;
  top:106px;
  width:240px;
  height:35px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:340px;
  top:106px;
  width:100px;
  height:35px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:440px;
  top:106px;
  width:250px;
  height:35px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:38px;
  top:240px;
  width:695px;
  height:41px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:100px;
  top:0px;
  width:240px;
  height:36px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:37px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:236px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:340px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:440px;
  top:0px;
  width:250px;
  height:36px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:37px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:49px;
  width:32px;
  height:31px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:38px;
  top:376px;
  width:695px;
  height:40px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:0px;
  width:590px;
  height:35px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:586px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:145px;
  top:143px;
  width:100px;
  height:16px;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:145px;
  top:172px;
  width:32px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:173px;
  top:172px;
  width:14px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:184px;
  top:173px;
  width:45px;
  height:16px;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:239px;
  top:173px;
  width:80px;
  height:16px;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:308px;
  top:173px;
  width:11px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:483px;
  top:141px;
  width:100px;
  height:16px;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:599px;
  top:141px;
  width:100px;
  height:16px;
}
#u60 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u59_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  position:absolute;
  left:483px;
  top:164px;
  width:100px;
  height:16px;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:483px;
  top:186px;
  width:47px;
  height:16px;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:530px;
  top:187px;
  width:160px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:38px;
  top:275px;
  width:695px;
  height:71px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:66px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:67px;
}
#u69 {
  position:absolute;
  left:2px;
  top:25px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:100px;
  top:0px;
  width:590px;
  height:66px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:67px;
}
#u71 {
  position:absolute;
  left:2px;
  top:25px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:58px;
  top:292px;
  width:61px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:58px;
  top:311px;
  width:61px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:38px;
  top:341px;
  width:695px;
  height:40px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:100px;
  top:0px;
  width:590px;
  height:35px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:36px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:48px;
  top:345px;
  width:83px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:62px;
  top:361px;
  width:65px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:153px;
  top:285px;
  width:100px;
  height:16px;
}
#u86 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u85_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u87 {
  position:absolute;
  left:283px;
  top:285px;
  width:100px;
  height:16px;
}
#u88 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u87_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u89 {
  position:absolute;
  left:418px;
  top:285px;
  width:100px;
  height:16px;
}
#u90 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u89_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u91 {
  position:absolute;
  left:153px;
  top:314px;
  width:100px;
  height:16px;
}
#u92 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u91_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u93 {
  position:absolute;
  left:283px;
  top:314px;
  width:100px;
  height:16px;
}
#u94 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u93_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u95 {
  position:absolute;
  left:153px;
  top:350px;
  width:100px;
  height:16px;
}
#u96 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u95_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u97 {
  position:absolute;
  left:283px;
  top:350px;
  width:100px;
  height:16px;
}
#u98 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u97_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u99 {
  position:absolute;
  left:418px;
  top:350px;
  width:100px;
  height:16px;
}
#u100 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u99_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u101 {
  position:absolute;
  left:33px;
  top:10px;
  width:213px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:8px;
  top:6px;
  width:18px;
  height:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u105 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:8px;
  top:24px;
  width:768px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:759px;
  top:-5px;
  width:14px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:768px;
  height:1px;
}
#u107 {
  position:absolute;
  left:482px;
  top:108px;
  width:180px;
  height:22px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u107_input {
  font-family:'应用字体';
}
#u107_input:disabled {
  color:grayText;
}
#u108 {
  position:absolute;
  left:599px;
  top:165px;
  width:100px;
  height:16px;
}
#u109 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u110 {
  position:absolute;
  left:338px;
  top:442px;
  width:100px;
  height:38px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u110_input {
  font-family:'应用字体';
}
